{% extends "base.html" %}

{% block nav_events %} class="active"{% endblock %}

{% block container %}
<div class="page-header">
    <h1>{{ event }}</h1>
</div>
<h3>Descrição do Evento</h3>
{{ event.description|linebreaks }}
<h3>Fotos</h3>
<ul class="thumbnails">
    {% for album in event.album_set.all %}
    <li class="span3">
        <a href="{{ album.get_absolute_url }}" class="thumbnail">
            {% if album.primary_photo %}
            <img src="{{ album.primary_photo.image.url }}" />
            {% else %}
            {{ album }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
<div class="page-header">
    <h1>Comentários</h1>
</div>
<div id="comments"></div>
<div>
    <form class="form-horizontal" method="post" action="">
        {% include "form.html" with form=comment_form %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Comentar
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function loadComments(){
    $.ajax({
        'url': "{% url events_comments event.pk %}",
        'success': function(html) {
            $("#comments").html(html);
        }
    });
}
jQuery(function($){
    loadComments();
});
</script>
{% endblock %}