{% extends "base.html" %}

{% block container %}
<div class="page-header">
    <h1>{{ album }}
        {% if album.event %}
        - {{ album.event }}
        {% endif %}
    </h1>
</div>
<h3>Fotos do Album</h3>
<div class="row">
    <ul class="thumbnails">
        {% for photo in album.photos.all %}
        <li class="span3">
            <a href="{{ photo.image.url }}" class="thumbnail">
                <img src="{{ photo.image.url }}" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}